{% extends 'base.html' %}
{% block content %}

    <main>
      <section class="experience-section" id="experience">
        <div class="container">
          <p class="section-kicker">—What I've Done—</p>
          <h1>Experience</h1>

          <div class="experience-grid">
            {% for experience in experience_list %}
            <article class="experience-card">
              <div class="experience-card-header">
                <span class="experience-category">
                {{ experience.get_category_display }}
              </span>
                <span class="experience-duration">
                  {{ experience.started_at|date:"M Y" }} - 
                  {% if experience.is_ongoing %}
                    Present
                  {% else %}
                    {{ experience.ended_at|date:"M Y" }}
                  {% endif %}
                </span>
              </div>
              <h2>{{ experience.title }}</h2>
              <p class="experience-description">{{ experience.description }}</p>
            </article>
            {% empty %}
            <p class="empty-state">Belum ada pengalaman yang ditambahkan.</p>
            {% endfor %}
          </div>
        </div>
      </section>
    </main>

{% endblock content %}

